<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{context.title}}</title>
  </head>
  <body>
    <h1>{{ Heading|upper }}</h1>
    <h1>{{context.title}}</h1>
    
    <h2>{{My_stuff|safe}}
    <p>{{ context.message }}</p>
    <p>Name: {{ context.name }}</p>
    <p>Age: {{ context.age }}</p>
    <p>Is Student: {{ context.is_student }}</p>
    <p>Hobbies:</p>
    <ul>
      {% for hobby in context.hobbies %}
      <li>{{ hobby }}</li>
      {% endfor %}
    </ul>
    <p>Friends:</p>
    <ul>
      {% for friend in context.friends %}
      <li>{{ friend }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
